* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

header {
  position: relative;
  height: 250px;
  background-image: url(../img/climb-3366663_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header #fond {
  width: 100%;
  display: block;
}

header #titre {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header h1 {
  font-size: 1.4rem;
  margin: 0;
  font-family: Aclonica;
  color: #fafbfb;
}

header h2 {
  font-size: 1.4rem;
  margin: 0;
  font-family: Monotype Corsiva;
  color: #f5d918;
}

header .burger {
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 3%;
}

header .burger span {
  width: 100%;
  height: 5px;
  background-color: #FF5733;
  display: block;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

header .burger span::before,
header .burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 5px;
  background-color: #f5d918;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

header .burger span::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header .burger span::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header .burger.active span {
  background-color: transparent;
}

header .burger.active span::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

header .burger.active span::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

header .burger:hover span::after,
header .burger:hover span::before {
  background-color: #f7a13c;
}

header .burger:hover span {
  background-color: #7a4621;
}

header .burger.active span {
  background-color: transparent;
}

header .icon {
  fill: #ce1c1c;
  cursor: pointer;
}

header input,
header .nav-menu,
header .dropdown {
  display: none;
}

header [id^=btn]:checked + ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 0;
}

header .nav-menu {
  background: radial-gradient(closest-side, white, #d4d3d3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-item a,
header .drop-item a,
header .show {
  color: #f21c1c;
  font-size: 0.8rem;
}

header .nav-menu a:hover,
header .show:hover,
header .icon:hover {
  color: maroon;
}

header .bit {
  width: 20px;
  position: absolute;
  right: 34%;
  top: 30%;
  color: #70716f;
}

header .link {
  width: 100px;
  position: absolute;
  right: 1%;
  top: 14%;
  color: #70716f;
}

header p {
  width: 50%;
  font-size: 0.3rem;
  text-align: left;
  margin-left: 16%;
  position: absolute;
  top: 66%;
  color: #70716f;
}

header #moi {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 39px;
  top: 81px;
}

header #geek {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  left: 28%;
}

main #vert {
  background-color: #FF5733;
}

main .diapo {
  position: relative;
  overflow: hidden;
}

main .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .element {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  margin-top: 2%;
}

main .element > img {
  width: 80%;
}

main #services {
  background-color: #d9d9d9;
  margin: 0;
  text-align: center;
}

main #services h1 {
  margin: 0;
  margin-bottom: 50px;
}

main #services p {
  margin: 0;
}

main #services .text {
  width: 80%;
  margin: auto;
  background-image: url(/img/fontext.png);
  padding: 10px;
}

main #realisation {
  background-image: url(/img/fondrea.png);
  width: 100%;
  text-align: center;
}

main #realisation .text {
  background-color: #09858a;
  padding: 10px;
  color: white;
}

main #realisation h1 {
  margin: 0;
  padding-top: 23px;
  color: white;
}

main #realisation h2 {
  font-size: 1.2rem;
}

footer {
  background-image: url(/img/fondfoot.png);
  text-align: center;
  position: relative;
}

footer #contact {
  padding: 10px;
}

footer #contact p {
  margin: 0;
  margin-left: 10%;
  padding: 1px;
  text-align: left;
  color: white;
}

footer #contact .bit2 {
  width: 20px;
  position: absolute;
  color: #70716f;
  left: 28%;
  padding: 5px;
}

footer #contact .link2 {
  width: 100px;
  position: absolute;
  color: #70716f;
  top: 26%;
}

footer #form h1 {
  font-size: 1rem;
  padding: 10px;
  color: white;
}

footer #form #champ {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px;
}

footer #form input {
  width: 80%;
  background-color: #09858a;
  margin: 10px;
}
/*# sourceMappingURL=styles.css.map */