* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;

}

nav {
    background-image: url(../img/eyes.jpg);

    .burger {
        width: 30px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 3%;
    }

    .burger span {
        width: 100%;
        height: 5px;
        background-color: #FF5733;
        border-radius: 10px;
        display: block;
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
        z-index: 100;
    }

    .burger span::before,
    .burger span::after {
        content: '';
        position: absolute;
        width: 100%;
        min-height: 5px;
        background-color: #f5d918;
        transition: transform 0.5s ease-in-out;
    }

    .burger span::before {
        transform: translateY(-10px);
    }

    .burger span::after {
        transform: translateY(10px);

    }

    .burger.active span {
        background-color: transparent;
    }

    .burger.active span::before {
        transform: translateY(0px) rotate(45deg);
    }

    .burger.active span::after {
        transform: translateY(0px) rotate(-45deg);
    }

    .burger:hover span::after,
    .burger:hover span::before {
        background-color: #f7a13c;
    }

    .burger:hover span {
        background-color: #7a4621;
    }

    .burger.active span {
        background-color: transparent;
    }


    .icon {
        fill: rgb(206, 28, 28);
        cursor: pointer;

    }

    .nav-menu,
    input {
        display: none;
        list-style: none;
        align-items: center;
    }

    .nav-item a,
    .drop-item a,
    .show {
        color: white;
        font-size: 1rem;
        text-decoration: none;
    }

    .nav-menu a:hover,
    .show:hover,
    .icon:hover {
        color: maroon;
    }

    [id^=btn]:checked+ul {
        display: block;
    }

}

header {
    position: relative;
    background-image: url(../img/eyes.jpg);

    img {
        vertical-align: middle;

    }

    #titre {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 1.4rem;
        margin: 0;
        font-family: Aclonica;
        color: #fafbfb;

    }

    h2 {
        font-size: 1.4rem;
        margin: 0;
        font-family: Monotype Corsiva;
        color: #f5d918;
    }


}

main {

    #vert {
        background-image: url(/img/eyes.jpg);
    }

    .elements {
        display: flex;
    }

    .element {
        width: 100%;
        flex: 1 1 100%;
        position: relative;
        margin: 2px;
    }

    .element>img {
        width: 80%;
    }

    #services {
        background-image: url(/img/eyes.jpg);
        margin: 0;
        text-align: center;

        p {
            margin: 0;
        }

        .text {
            width: 80%;
            margin: auto;
            background-image: url(/img/fontext.png);
            padding: 10px;
            border-radius: 10px;
        }

        .prog {
            background-image: url(../img/matrix-g870eb6eff_1920.jpg);
            background-repeat: no-repeat, ;
            background-size: cover;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .internet {
            background-image: url(../img/software-gd67a2624c_1920.jpg);
            background-repeat: no-repeat, ;
            background-size: cover;
            color: white;
        }
    }

    #realisation {
        background-image: url(/img/eyes.jpg);
        width: 100%;
        text-align: center;

        .text {
            padding: 10px;
        }

        h1 {
            margin: 0;
            padding-top: 23px;
        }

        h2 {
            font-size: 1.2rem;
        }
    }
}

footer {
    background-image: url(/img/fondfoot.png);
    background-repeat: no-repeat, ;
    background-size: cover;
    text-align: center;
    position: relative;

    #contact {
        padding: 10px;

        p {
            margin: 0;
            margin-left: 10%;
            padding: 1px;
            text-align: left;
            color: white;
        }

        .bit2 {
            width: 20px;
            position: absolute;
            color: #70716f;
            left: 28%;
            padding: 5px;
        }

        .link2 {
            width: 100px;
            position: absolute;
            color: #70716f;
            top: 26%;
        }
    }

    #form {
        h1 {
            font-size: 1rem;
            padding: 10px;
            color: white;
        }

        #champ {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10px;
        }

        input {
            width: 80%;
            background-color: #09858a;
            margin: 10px;
            border-radius: 5px;

        }
    }
}

// @media screen and (min-width: 400px) {
//     header{
//         height: 300px;

//     }
// }
// @media screen and (min-width: 500px) {
//     header{
//         height: 410px;
//     }
// }
// @media screen and (min-width: 600px) {
//     header{
//         height: 480px;
//     }
// }